<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<div th:switch="${notes}">
    <h2 th:case="null">No notes found!</h2>
    <div th:case="*">
        <h2>NotesList</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="noteDTO : ${notes}">
                <td th:text="${noteDTO.id}"></td>
                <td th:text="${noteDTO.title}"></td>
                <td th:text="${noteDTO.content}"></td>
<!--                <td><a th:href</td>-->

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/note/create">Create note</a></p>
    <p><a href="/note/delete">Delete note</a></p>
    <p><a href="/note/edit">Edit note</a></p>
</div>
</body>
</html>